<div class="responsive-header">
    <div class="mh-head first Sticky">
        <span class="mh-btns-left">
            <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
        </span>
        <span class="mh-text">
            <a class="cursor-pointer" [routerLink]="['/']"><img src="../assets/images/logo2.png" alt=""></a>
        </span>
    </div>

    <nav id="menu" class="res-menu">
        <ul *ngIf="isOnlineOffline()">
            <li><a class="cursor-pointer" [routerLink]="['/']" title="">Home</a></li>
            <li><a class="cursor-pointer" [routerLink]="['/messages']">Messages</a></li>
            <li><span>Account</span>
                <ul>
                    <li><a class="cursor-pointer" [routerLink]="['/' + user.id]">View Profile</a></li>
                    <li><a class="cursor-pointer" [routerLink]="['/' + user.id + '/edit']">Edit Profile</a></li>
                </ul>
            </li>
            <li><a class="cursor-pointer" (click)="logout()">Log out</a></li>
        </ul>
        <ul *ngIf="!isOnlineOffline()">
            <li><a class="cursor-pointer" [routerLink]="['/login']" title="">Login</a></li>
            <li><a class="cursor-pointer" [routerLink]="['/registration']">Create Profile</a></li>
        </ul>
    </nav>

</div><!-- responsive header -->

<div class="topbar stick">
    <div class="logo" style="width:145px;">
        <a class="cursor-pointer" [routerLink]="['/']"><img src="../assets/images/nistagram-logo.png" alt=""></a>
    </div>

    <div class="top-area">
        <div class="top-search" style="margin-left:50px;">
            <form method="post">
                <input type="text" id="searchText" name="searchText" [(ngModel)]="searchText" (input)="filter()"
                    placeholder="Search Friend">
                <button data-ripple><i class="ti-search"></i></button>
            </form>
        </div>
        <div class="filter-user" style="width:300px;margin-left:50px;" [ngClass]="{'show':isShow,'hide':!isShow}">
            <div class="float-left body" *ngFor="let item of filterUser">
                <a class="cursor-pointer" (click)="openProfile(item)">
                    <div class="float-left" style="width:50px;">
                        <img style="border-radius:50%;" src="{{item.img}}" alt="" width="40px" height="50px" />
                    </div>
                    <div class="float-left">
                        <div class="filter-username">
                            {{item.firstName + ' ' + item.lastName}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <ul class="setting-area" *ngIf="isOnlineOffline()">
            <li>{{user.firstName + ' ' + user.lastName}}</li>
        </ul>
        <ul class="setting-area " *ngIf="!isOnlineOffline()">
            <li><a class="cursor-pointer" [routerLink]="['/login']" data-ripple="">Login</a>
            </li>
            <li><a class="cursor-pointer" [routerLink]="['/registration']" data-ripple="">Create Profile</a></li>
        </ul>
        <div class="user-img" *ngIf="isOnlineOffline()">
            <img src="{{user.img}}" alt="" width="50px" height="50px">
            <span class="status f-online"></span>
            <div class="user-setting">
                <a class="cursor-pointer" [routerLink]="['/' + user.id]"><i class="ti-user"></i> View Profile</a>
                <a class="cursor-pointer" [routerLink]="['/edit']"><i class="ti-pencil-alt"></i>Edit
                    Profile</a>
                <a class="cursor-pointer" (click)="logout()"><i class="ti-power-off"></i>Log out</a>
            </div>
        </div>
    </div>
</div><!-- topbar -->