<section *ngIf="user!==null">
    <div class="gap2 gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static left" *ngIf="user != null">
                                <div class="widget">
                                    <h4 class="widget-title">Shortcuts</h4>
                                    <ul class="naves">
                                        <!--<li>
                                            <i class="ti-clipboard"></i>
                                            <a class="cursor-pointer" [routerLink]="['/new-post']">New post</a>
                                        </li>-->
                                        <li>
                                            <i class="ti-comments-smiley"></i>
                                            <a class="cursor-pointer" [routerLink]="['/messages']">Messages</a>
                                        </li>
                                        <li>
                                            <i class="ti-user"></i>
                                            <a class="cursor-pointer" [routerLink]="['/' + user.id]">Profile</a>
                                        </li>
                                        <!-- <li>
                                            <i class="ti-link"></i>
                                            <a class="cursor-pointer" [routerLink]="['/' + user.id]">Friends</a>
                                        </li>
                                        <li>
                                            <i class="ti-image"></i>
                                            <a class="cursor-pointer" [routerLink]="['/images']">Images</a>
                                        </li> -->
                                        <!--<li>
                                            <i class="ti-bell"></i>
                                            <a class="cursor-pointer" [routerLink]="['/notifications']">Notifications</a>
                                        </li>-->
                                        <li>
                                            <i class="ti-power-off"></i>
                                            <a class="cursor-pointer" (click)="logout()">Logout</a>
                                        </li>
                                    </ul>
                                </div><!-- Shortcuts -->

                                <div class="widget">
                                    <h4 class="widget-title">New Followers</h4>
                                    <ul *ngIf="followers != null" class="followers">
                                        <li *ngFor="let item of followers">
                                            <figure><img src="{{item.img}}" width="50px" height="50px" alt="">
                                            </figure>
                                            <div class="friend-meta">
                                                <h4><a class="cursor-pointer" [routerLink]="['/' + item.id]">
                                                        {{item.firstName + ' ' + item.lastName}}</a></h4>
                                                <a class="cursor-pointer" class="underline">{{item.email}}</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!-- who's following -->

                                <div class="widget">
                                    <h4 class="widget-title">New Follownig</h4>
                                    <ul *ngIf="following != null" class="followers">
                                        <li *ngFor="let item of following">
                                            <figure><img src="{{item.img}}" width="50px" height="50px" alt="">
                                            </figure>
                                            <div class="friend-meta">
                                                <h4><a class="cursor-pointer" [routerLink]="['/' + item.id]">
                                                        {{item.firstName + ' ' + item.lastName}}</a></h4>
                                                <a class="cursor-pointer" class="underline">{{item.email}}</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!-- who's following -->
                            </aside>
                        </div><!-- sidebar -->

                        <div class="col-lg-6">
                            <div class="central-meta">
                                <div class="messages">
                                    <h5 class="f-title"><i class="ti-bell"></i>All Friends <span
                                            class="more-options"></span></h5>
                                    <div class="message-box">
                                        <ul class="peoples">
                                            <li *ngFor="let i of friends" (click)="openChat(i)">
                                                <figure>
                                                    <img src="{{i.img}}" alt="">
                                                </figure>
                                                <div class="people-name">
                                                    <span>{{i.firstName + ' ' + i.lastName}}</span>
                                                    <p>{{i.username}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="peoples-mesg-box" style="margin-left:20px;" *ngIf="!isOpenChat">Not
                                            opened chat box</div>
                                        <div class="peoples-mesg-box" *ngIf="isOpenChat">
                                            <div class="conversation-head">
                                                <figure><img [src]="setImage(chatFriend.img)" alt=""></figure>
                                                <span>{{chatFriend.firstName + ' ' + chatFriend.lastName}}</span>
                                            </div>
                                            <ul class="chatting-area">
                                                <li class="you" *ngFor="let i of allChatBox"
                                                    [ngClass]="(i.user.id!==user.id) ? 'you' : 'me'">
                                                    <figure><img [src]="setImage(i.user.img)" alt=""></figure>
                                                    <p>{{i.text}}</p>
                                                </li>
                                            </ul>
                                            <div class="message-text-container">
                                                <form method="post">
                                                    <textarea id="newText" name="newText" [(ngModel)]="newText"
                                                        placeholder="Send new message"></textarea>
                                                    <button title="send" (click)="sendMessage()"><i
                                                            class="fa fa-paper-plane"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- centerl meta -->

                        <div class="col-lg-3">
                            <aside class="sidebar static right" *ngIf="user != null">
                                <div class="widget stick-widget">
                                    <h4 class="widget-title">Your page</h4>
                                    <div class="your-page">
                                        <figure>
                                            <a [routerLink]="['/' + user.id]"><img src="{{user.img}}" alt=""></a>
                                        </figure>
                                        <div class="page-meta">
                                            <a [routerLink]="['/' + user.id]">{{user.firstName + ' ' +
                                                user.lastName}}</a>
                                            <span>{{user.username}}</span>
                                        </div>
                                        <div class="page-likes">
                                            <ul class="nav nav-tabs likes-btn">
                                                <li class="nav-item"><a class="active" href="#link1"
                                                        data-toggle="tab">followers</a></li>
                                                <li class="nav-item"><a class="" href="#link2"
                                                        data-toggle="tab">following</a></li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div class="tab-pane active fade show " id="link1">
                                                    <span><i class="ti-heart"></i>{{user.followers}}</span>
                                                </div>
                                                <div class="tab-pane fade" id="link2">

                                                    <span><i class="ti-eye"></i>{{user.followings}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- page like widget -->
                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>